h1 {
    color : red;
    text-align: center;
  }
  div {
    background-color: green;
    text-align: left;
    width : 50%;
    height : 50px;
    font-style: 10px;
    color: #000033;
    font-size: 30px;
  }
  form {
    color: orange;
    font-size: : 40px;
  }
  button{
    background-color: magenta;
    font-size: 40px;
  }
  table{
    border : 2px solid black;
    border-collapse : collapse;
  }
  th{
    background-color:  yellow;
    font-weight : bold;
    border : 1px solid black;
  }
  td {
    background-colour : blue;
    border : 1px solid black;
  }
